<form action="{% url 'web:formulario' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p> 
        <label for="id_nombre">Nombre:</label>
        <input id="id_nombre" type="text" name="nombre" maxlength="100" required>
    </p>
    <p>
        <label for="id_password">Password:</label>
        <input id="id_password" type="password" name="Password" maxlength="12" required>
    </p>
    <p>
        <label for="id_email">Email:</label>
        <input id="id_email" type="email" name="Email" maxlength="100" required>
    </p>
    <p> 
        <label for="id_auto">Auto:</label>
        <input id="id_auto" type="text" name="auto" maxlength="100" required>
    </p>
  <button type="submit">Crear Usuario</button>
</form>


<ul>
    {% for obj in response %}
        <li>{{ obj.id }} - {{ obj.nombre }} {{ obj.email }}</li>
    {% endfor %}
</ul>